@font-face
{
  font-family: Roboto-R;
  src: url("Roboto-Regular.ttf");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: Roboto-R;
  background: #1d1d1d;
}

.brand {
  padding: 10px;
}

/* Navigation */

nav {
  width: 100%;
  height: 60px; 
  position: fixed; 
  top: 0;
  background: #ffffff;
}

.nav-expand {
  background: #ffffff;
}

nav ul {
  padding: 10px;
  margin-left: auto;
  list-style: none;
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
} 
/* najechanie */
nav ul li a:hover {
  color: #34495E;
}
a.active {
  border-bottom: 2px solid #ecf0f1;
}

/* Headings */

h1 {
  font-size: 5rem;
}

label {
  font-size: 20px;
}

/* Sections */

section {
  width: 100%;
  padding: 50px;
  height: auto;
}

.sections section:first-child {
}
section.active {}

.section-one {
  background-image: url('solar_panel.jpg');
  background-size: cover;
}

.section-one-text {
  color: white;
  text-shadow: 5px 5px 3px #1d1d1d;
  font-size:3vw;
  font-weight: bold;
}

section.third {
  height: auto;
  background-color: rgb(183, 231, 201);
}

.content {
  margin-top: 15%;
  margin-bottom: 10%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 15px; /* Some padding */
  border-radius: 10px;
}


footer {
  height: 500px;
  background: #34495e;
}


#upBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#upBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}