@font-face
{
  font-family: Roboto-R;
  src: url("Roboto-Regular.ttf");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Roboto-R;
  background: #1d1d1d;
}

.brand {
  padding: 10px;
}

/* Navigation */

nav {
  width: 100%;
  height: 60px; 
  /* position: fixed;  */
  top: 0;
  background: #9898e4;
}

.nav-expand {
  background: #9898e4;
}

nav ul {
  padding: 10px;
  margin-left: auto;
  list-style: none;
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
} 
/* najechanie */
nav ul li a:hover {
  color: #34495E;
}
a.active {
  border-bottom: 2px solid #ecf0f1;
}

/* Headings */

h1 {
  font-size: 5rem;
  color: #34495E;
}

/* Sections */

section {
  width: 100%;
  padding: 50px;
  background: #b87373;
  text-align: center;
}

.sections section:first-child {
  height: 600px;
}
section.active {}

footer {
  height: 500px;
  background: #34495e;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}